/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* app global css */
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--dark) url("/images/patterns/noisy_net/noisy_net.png") center
    center repeat;
  color: var(--color-primary)
}

/*
#q-app {
  border: 5px solid blue;
}
*/

.rectStartPageLayout,
.rectMainLayout {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 230px;
  height: 30px;
  z-index: 20000;
  background-color: crimson;
  border-radius: 4px;
  /* visibility: hidden;
  opacity: 0; */
}

.rectMainLayout {
  top: 15px;
  left: 15px;
  background-color: blue;
}


.rotationLoader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.rotationLoader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid orange;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
