
:root {
  --color-primary: #ddd;
  --color-scondary: rgb(255, 165, 0);
  --color-tertiary: #131313;
  --color-muted: darkgrey;

  --color-header: var(--color-secondary);
  /* --color-header--hover: brighten(var(--color-secondary, 10)); */

  --border-color: rgba(52, 52, 52, 1); /* #343434 */
  --bg-color: rgba(115, 115, 115, 0.1);
  --bg-color-hover: rgba(155, 155, 155, 0.25);
  --bg-color-dark: rgba(25, 25, 25, 0.2);
  --bg-color-dark-hover: rgba(25, 25, 25, 0.35);

  --dark: #12171c;

  --shadow-bright: inset 0 1px 0 rgba(155, 155, 155, 0.2), 0 1px 2px rgba(0, 0, 0, 0.07);
  --shadow-bright-hover: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.07);

  --shadow-dark: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.07);
  --shadow-dark-hover: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.07);

  --k2d: 'K2D', sans-serif;
  --opensans: 'Open Sans', sans-serif;
}