.three-dot-preloader,
.three-dot-preloader:before,
.three-dot-preloader-static {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  color: $color-primary;
}

.three-dot-preloader:before {
  color: orange;
  content: " ";
  animation: three-dot-preloader-anim 1s infinite;
}

.three-dot-preloader-static:before {
  content: "...";
  color: #666;
}

@keyframes three-dot-preloader-anim {
  0% {
    content: " ";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
